body{
    background-color: rgb(214, 214, 214);
}
h1{
    text-align: center;
    font-size: 20px;
    font-size: 40px;
}
.container{
    width: 300px;
    height: 550px;
    margin: 80px auto;
    border-radius: 10px;
    background: rgb(214, 214, 214);
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
    background: rgb(162, 180, 215);
}
.col-md-12 {
    width: 200px;
    margin: auto;
    height: 100px;
}
#display {
    border: none;
    width: 180px;
    height: 40px;
    outline: none;
    color: black;
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
    margin: 30px 0 20px 0;
    background: transparent;
    box-shadow: 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff;
    border-radius: 15px;
    background: rgb(192, 194, 198);
}
.btn {
    margin: 20px 0 0 5px;
    width: 42px;
    height: 42px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    background: rgb(214, 214, 214);
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #faf4f4;
    display: inline-block;
}
.btn:active {
    box-shadow: inset 1px 1px 2px #babeec, inset -1px -1px 2px #ffffff;
}

.operator {
    background: lightskyblue;
}

.calculator{
    background: aquamarine;
}

.evaluation{
    background: black;
    color: white;
    font-size: 15px;
}
.delete{
    background: rgb(209, 28, 28);
    font-size: 15px;
}













